{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx",
      ".css"
    ],
    "import/resolver": {
      "babel-module": {}
    }
  }
}