<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>OPGG</title>
    <% for (let css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>" />
    <% } %>
  </head>

  <body>
    <div id="app"></div>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.files.js[key] %>"
    ></script>
    <% } %>
  </body>
</html>
